body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    background-color: #6e6eb9;
    color: #FFC0CB;
  }
  
  #click-area {
    width: 80%;
    height: 370px;
    margin: 20px auto;
    background-color: #FFFF00;
    color: #333333;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    line-height: 370px;
    cursor: pointer;
    user-select: none; /* prevent text selection */
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  #info {
    margin-top: 30px;
    width: 80%;
    margin: 0 auto;
  }
  
  #info p {
    margin: 10px;
    font-size: 18px;
  }
  
  #info span {
    font-weight: bold;
    color: yellow;
    text-decoration: underline;
  }
  
  #message {
    font-size: 24px;
    font-weight: bold;
    color: #90ee90;
  }
  
  button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  /* Media queries */
  
  /* For screens smaller than 768px (i.e. tablets and phones in portrait mode) */
  @media only screen and (max-width: 767px) {
    #click-area {
      width: 80%;
      height: 350px;
      text-align: center;
      margin: 20px auto;
      line-height: 350px;
    }
  
    #info p {
      font-size: 16px;
    }
  
    #message {
      font-size: 20px;
    }
  
    button {
      font-size: 16px;
    }
  }
  
  /* For screens smaller than 480px (i.e. phones in portrait mode) */
  @media only screen and (max-width: 479px) {
    #click-area {
      width: 90%;
      height: 350px;
      text-align: center;
      line-height: 350px;
      margin: 20px auto;
      font-size: 32px;
    }
  
    #info p {
      font-size: 14px;
    }
  
    #message {
      font-size: 18px;
    }
  
    button {
      font-size: 14px;
    }
  }
  